{% extends "base.html" %}
{% from "navbar.html" import navbar %}
{% from "ques_navbar.html" import ques_navbar %}

{% block title %}Exam App Home{% endblock %}

{% block body %}

<div class="page-header">
   <h3>{{ exam_id }}: {{ exam_desc }}</h3>
   <h4> (Total: {{ question_count }}&nbsp;questions.)</h4>
</div>
<nav>
    {% block ques_nav %}
    {{ ques_navbar(question, question_count) }}
    {% endblock %}       
</nav>
<div class="collapse" id="searchquestion">
    <form class="d-flex" role = "search" method="POST" action="{{ url_for('browse_bp.jumpto', exam_id=exam_id) }}">
        <input type="search" id="ques_id" name="ques_id" class="form-control me-2" placeholder="Question index">          
        <button class="btn btn-outline-success" type="submit">Go!</button>
    </form>  
</div>
<div class="collapse" id="collapseExample"></div>  
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" method="POST" action="{{ url_for('browse_bp.savemynote', exam_id=exam_id, question_id=question.index) }}">
            
            <P class="lead">   
            {{ question.index }}. &nbsp;
            {{ question.question }}
            </P>  
            <BR>   
            {% if usernotes.my_ans and 'd' in usernotes.my_ans %} checked {% endif %}
            {% if question.optiona != "" %}
            <div class="form-check">         
                <input class="form-check-input" {% if question.ansnum > 1 %} type="checkbox" {% else %} type="radio" {% endif %} name="answer" id="option_a" value="a" {%if usernotes.my_ans and "A" in usernotes.my_ans %}checked{% endif %}>
                <label class="form-check-label lead" for="answer">{{ question.optiona }}</label>
            </div><!-- /input-group -->
            {% endif %}
             
            {% if question.optionb != "" %}
            <div class="form-check">      
                <input class="form-check-input" {% if question.ansnum > 1 %} type="checkbox" {% else %} type="radio" {% endif %} name="answer" id="option_b" value="b" {%if usernotes.my_ans and "B" in usernotes.my_ans %}checked{% endif %}>
                <label class="form-check-label lead" for="answer">{{ question.optionb }}</label>   
            </div><!-- /input-group -->
            {% endif %}
            
            {% if question.optionc != "" %}
            <div class="form-check">     
                <input class="form-check-input" {% if question.ansnum > 1 %} type="checkbox" {% else %} type="radio" {% endif %} name="answer" id="option_c" value="c" {%if usernotes.my_ans and "C" in usernotes.my_ans %}checked{% endif %}>
                <label class="form-check-label lead" for="answer">{{ question.optionc }}</label>   
            </div><!-- /input-group -->
            {% endif %}
            
            {% if question.optiond != "" %}
            <div class="form-check">      
                <input class="form-check-input" {% if question.ansnum > 1 %} type="checkbox" {% else %} type="radio" {% endif %} name="answer" id="option_d" value="d" {%if usernotes.my_ans and "D" in usernotes.my_ans %}checked{% endif %}>
                <label class="form-check-label lead" for="answer">{{ question.optiond }}</label>   
            </div><!-- /input-group -->
            {% endif %}
           
            {% if question.optione != "" %}
            <div class="form-check">      
                <input class="form-check-input" {% if question.ansnum > 1 %} type="checkbox" {% else %} type="radio" {% endif %} name="answer" id="option_e" value="e" {%if usernotes.my_ans and "E" in usernotes.my_ans %}checked{% endif %}>
                <label class="form-check-label lead" for="answer">{{ question.optione }}</label>   
            </div><!-- /input-group -->
            {% endif %}
            
            {% if question.optionf != "" %}
            <div class="form-check">   
                <input class="form-check-input" {% if question.ansnum > 1 %} type="checkbox" {% else %} type="radio" {% endif %} name="answer" id="option_f" value="f" {%if usernotes.my_ans and "F" in usernotes.my_ans %}checked{% endif %}>
                <label class="form-check-label lead" for="answer">{{ question.optionf }}</label>   
            </div><!-- /input-group -->
            {% endif %}

            <div class="collapse" id="mynote">    
                <div class="form-floating mb-3">                    
                    <input id="category" name="category" class="form-control" placeholder="category" {% if usernotes %} value={{ usernotes.category }} {% endif %}>
                    <label for="floatingInput">Question Category</label>
                  </div>
                  <div class="form-floating">
                    <textarea class="form-control"id="mynotes" name="mynotes" placeholder="Leave a comment here"> {% if usernotes %} {{ usernotes.notes }} {% endif %}</textarea>
                    <label for="floatingPassword">Study Notes</label>
                  </div>                        
            </div>

            <a class="btn btn-primary" data-bs-toggle="collapse" href="#showanswer" role="button">Show Answer</a>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#mynote" role="button">My Notes</a>
            <button type="submit" class="btn btn-primary">Save My Note</button>
            
        </form> 
        <BR></BR> 
        
        <div class="collapse" id="showanswer">
            {% if show_answer %}
            <p class="lead">   
            Correct Answer: &nbsp; {{ question.correct_ans }}
            </p>
            <p class="lead">         
            Explanation: &nbsp; {{ question.explanation }}  
            {% endif %}   
            </p>
        </div>
    </div><!-- /.col-lg-12 -->
</div>
{% endblock %}